<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Blog Symfony{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
            <a href="{{ path('app_home') }}">
                <div class="logo">Mon Blog</div>
                </a>
                <ul class="nav-links">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REDACTEUR') %}
                            <li><a href="{{ path('dashboard') }}">Administration</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
                <div class="burger" onclick="toggleMenu()">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>&copy; {{ 'now'|date('Y') }} Mon Blog Symfony</p>
        </footer>

        <script>
            function toggleMenu() {
                document.querySelector('.nav-links').classList.toggle('active');
            }
        </script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>